.faucet-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}